<div appBorderChange="royalblue" class="card">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <ul>
            <li><span>Category:</span> {{ product.category}}</li>
            <li><span>Author:</span> {{ product.author }}</li>
            <li><span>Description:</span> {{ product.description }}</li>
            <li><span>Price:</span> {{ product.price }}$</li>
            <li><span>Available:</span> {{ product.isAvailable}}</li>
        </ul>
        <button 
            type="button"
            class="btn btn-primary"
            [disabled]="!product.isAvailable"
            (click)="onBuy(product)">
                Buy
        </button>
    </div>
</div>
